{% extends "SaidulDomainManagementBundle::layout.html.twig" %}

{%block body%}
<a href="{{path('_domain_new')}}">Add New Record</a>
<ul>
{%for ditem in dlist%}
<li>
    {{ditem.ip}} - {{ditem.host}} 
    <a href="{{ path('_domain_delete_id',{'idx':loop.index0})}}" onclick="javascript: return confirm('Are you sure to delete this?');">Delete</a> 
    <a href="#">Edit</a>
</li>

{%endfor%}
    </ul>
{%endblock%}