<html>
    <head>
        <title>Default file for {{domain}}</title>
    </head>
    <body>
    <p>
        <h1>Welcome!!</h1>
        This is a auto generated file.<br>
        <pre>
Domain: {{domain}}
        </pre>
    </p>
    Created on {{ "now"|date("m/d/Y") }}.
    </body>
</html>